.crew-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-crew-desktop.jpg);
  background-size: contain;
  background-repeat: round;
  background-color: #0b0d17;
  background-attachment: fixed;
}
@media (max-width: 900px) {
  .crew-container {
    min-width: 800px;
    background-image: url(../images/background-crew-tablet.jpg);
  }
}
.crew-data {
  display: flex;
  margin-top: 10em;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .crew-data {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}
.crew-photo img {
  width: 120%;
}
@media (max-width: 900px) {
  .crew-photo img {
    width: 80%;
    margin-top: 1em;
  }
}
.info {
  max-width: 32rem;
}
.crew-position {
  color: hsl(225deg 6% 32%);
}
@media (max-width: 900px) {
  .crew-position {
    text-align: center;
  }
}
.name-crew-member {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #fff;
}
.crew-member-desc {
  line-height: 1.6;
}
.crew-switcher-points {
  display: flex;
  gap: 1rem;
}
.member-page {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(225deg 6% 32%);
  margin-top: 5em;
  cursor: pointer;
}
.crew-switcher-points .active-member-page {
  background-color: #fff;
}
