.destanation-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-destination-desktop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0b0d17;
  background-attachment: fixed;
}
@media (max-width: 900px) {
  .destanation-container {
    min-width: 800px;
    background-image: url(../images/background-destination-tablet.jpg);
  }
}
.pick-dest-title {
  margin-bottom: 4em;
  color: #fff;
}
.planet-img {
  margin-left: 8em;
}
@media (max-width: 900px) {
  .planet-img {
    margin-left: 11em;
  }
}
.dest-num {
  color: hsl(225deg 6% 32%);
}
.dest-nav li {
  color: #d0d6f9;
}
li.active {
  border-bottom: 1px solid #fff;
}

.planet-info {
  width: 27.8rem;
  margin-top: 8em;
}
@media (max-width: 900px) {
  .planet-info {
    align-self: center;
  }
}
.dest-data {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  padding: 0 1em;
}
@media (max-width: 900px) {
  .dest-data {
    flex-direction: column;
  }
}
.planet-list {
  padding: 0;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  cursor: pointer;
}
.planet-div-line {
  height: 2px;
  background-color: #616476;
  margin: 3em 0 2em 0;
}
.planet-dist-traval-info {
  display: flex;
}
h1,
.avg-dist-data,
.travel-time-data {
  color: #fff;
  text-transform: uppercase;
}
.est-travel-time {
  margin-left: 4em;
}
.avg-dist-text,
.travel-time-text {
  text-transform: uppercase;
}
