nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  backdrop-filter: blur(10px);
}
nav a {
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 0;
}
nav a.active {
  border-bottom: 1px solid #fff;
}
nav a:hover,
nav a:focus {
  color: #616476;
}
nav li {
  margin-right: 1em;
}
.nav-line {
  width: 40%;
  height: 2px;
  align-self: center;
  background-color: #616476;
}
.current-page:hover {
  color: #fff;
}
