/* https://piccalil.li/blog/a-modern-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  letter-spacing: 1px;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0b0d17;
  background-attachment: fixed;
}
.destanation-container {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background-destination-desktop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0b0d17;
  background-attachment: fixed;
}
